# Bangalore's House Price Prediction
---

In [1]:
import pandas as pd

In [153]:
df = pd.read_csv("E:/Downloads/bengaluru_house_prices.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [155]:
df.shape

(13320, 9)

In [156]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [157]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [158]:
df['society'].mode()

0    GrrvaGr
Name: society, dtype: object

In [159]:
df["society"] = df['society'].fillna(df['society'].mode()[0])
df["balcony"] = df['balcony'].fillna(df['balcony'].mean())
df["bath"] = df['bath'].fillna(df['bath'].mean())
df.isnull().sum()

area_type        0
availability     0
location         1
size            16
society          0
total_sqft       0
bath             0
balcony          0
price            0
dtype: int64

In [160]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,GrrvaGr,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,GrrvaGr,1200,2.0,1.0,51.00

In [161]:
df['size'].unique

<bound method Series.unique of 0            2 BHK
1        4 Bedroom
2            3 BHK
3            3 BHK
4            2 BHK
           ...
13315    5 Bedroom
13316        4 BHK
13317        2 BHK
13318        4 BHK
13319        1 BHK
Name: size, Length: 13320, dtype: object>

In [162]:
import re
def extract_numbers(text):
    return re.findall(r'\d+',text)

In [163]:
df["size"] = df['size'].fillna(df['size'].mode()[0])

In [164]:
df['size'] = df['size'].apply(lambda x:' '.join(extract_numbers(x)))

In [165]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3,GrrvaGr,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2,GrrvaGr,1200,2.0,1.0,51.00

In [166]:
df['size'].unique

<bound method Series.unique of 0        2
1        4
2        3
3        3
4        2
        ..
13315    5
13316    4
13317    2
13318    4
13319    1
Name: size, Length: 13320, dtype: object>

In [167]:
df['area_type'].value_counts()

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64

In [168]:
df['society'].value_counts() == 1

society
GrrvaGr    False
PrarePa    False
Sryalan    False
Prtates    False
GMown E    False
           ...
Amionce     True
JaghtDe     True
Jauraht     True
Brity U     True
RSntsAp     True
Name: count, Length: 2688, dtype: bool

In [169]:
c = []
vc = df['society'].value_counts()
for society,count in vc.items():
    if count == 1:
        c.append(society)
print(c)

['Gontsoo', 'LGifeew', 'Satlea ', 'DSionhe', 'Pancy R', 'Reverve', 'Bhsic C', 'Fosic C', 'KKersow', 'Inaadd ', 'DSoodSh', 'GRlas V', 'NevenLi', 'Ozdiaan', 'RailsDa', 'Jancyes', 'Viave E', 'Srldsri', 'Rallsdr', 'DSstaen', 'Cruran ', 'Spess C', 'Indesve', 'JSlipTu', 'VDarmlo', 'Redarav', 'Apvas N', 'HMriast', 'ViaarSa', 'Apntsal', 'JaniaGa', 'VBpleMa', 'Viise P', 'Silusti', 'Prvanai', 'Henue A', 'Agtiaur', 'Srarkav', 'VmlleRo', 'Neony H', 'PavanSa', 'Mosom B', 'Hedosme', 'Sohid O', 'Gancy P', 'Chsilut', 'VBeriav', 'P num P', 'DRnerns', 'Rie 2 P', 'SuaveRa', 'Vithm R', 'Vaenev ', 'Conixt ', 'Foisha ', 'PindsWo', 'LeeyaCa', 'LuncyRe', 'Aincyev', 'Suvals ', 'Bustain', 'Sravehi', 'Saandvi', 'Shyalha', 'NRtesnd', 'Evanaan', 'HViesar', 'Adevo S', 'MSureRR', 'DStik S', 'Avlls H', 'Prncy R', 'GMownTe', 'JRaderc', 'MyigePr', 'Spiteid', 'Hiowsi ', 'Srhida ', 'JPoldGo', 'AReenui', 'Sohti S', 'DSpazTo', 'Usnexra', 'Vacle P', 'Sphts H', 'Fleepi ', 'Arentra', 'Mancyes', 'Pry 2 R', 'Solip T', 'VSineDi', 'BrriaLu', 'Trade E', 'MaitySe', 'Rehtsna', 'Miershi', 'Kreera ', 'SLoven ', 'Dee 2 P', 'Baesta ', 'Duity C', 'Eledst ', 'Grterrr', 'JahtsHe', 'ApallEn', 'GCbowai', 'Srluei ', 'Cores V', 'Gohts H', 'Tiitela', 'OadraCh', 'Unarlth', 'Say 3 R', 'Hameson', 'Saacela', 'Malyxer', 'Srrtsu ', 'Saentva', 'Amconi ', 'Arndesa', 'M ondit', 'AsineSu', 'VaMarll', 'Wharl P', 'GRhtsei', 'Choomu ', 'Eznuee ', 'Jaity H', 'ARestco', 'Vetanan', 'Srdids ', 'Ajens G', 'Panorse', 'Laave E', 'Viodspr', 'Saavena', 'PSmalsh', 'SivelMa', 'Lancya ', 'Ocezes ', 'VKe 1 M', 'GCngsn ', 'Anineu ', 'IJent A', 'Ladenea', 'Sryam N', 'VRowsa ', 'Owlotou', 'Amazaa ', 'Raesta ', 'Suram S', 'Jhntspa', 'SoineJa', 'Maletr ', 'DScon S', 'MaionMa', 'Shntie ', 'Saandtt', 'MVmesle', 'Pridel ', 'Saage V', 'Nihtsss', 'Gomeseg', 'Shika A', 'Kames S', 'SVacyeg', 'Pardst ', 'Gllas V', 'Sutesga', 'Viissmi', 'AnentAp', 'Apion M', 'Jaitira', 'Smentha', 'Tenceen', 'Unuil T', 'Paony H', 'Saenett', 'DSireSo', 'Saalpas', 'MVkleiw', 'Ceureld', 'Krntsee', 'MoaveEn', 'Muiseek', 'KPiteEl', 'SLtraks', 'SaMTBai', 'Koncyad', 'Siestr ', 'Dhistee', 'Aimesya', 'SRgio V', 'Gaenty ', 'Srasy F', 'Elayabh', 'GRarken', 'JClyner', 'Naoden ', 'Monorh ', 'IcudiMa', 'Amageru', 'Saisena', 'Atntspa', 'MDonta ', 'Srarkha', 'Anensva', 'Avine A', 'Inods A', 'Inulat ', 'MNnia E', 'Miiewa ', 'SRrnauv', 'Saive L', 'Vaeva E', 'PyonsCa', 'VMityre', 'PrianM ', 'SaodsGr', 'EsaceLe', 'JPismPr', 'Sriferi', 'Toreeic', 'HMqueu ', 'AaineSi', 'Saionl ', 'Myitece', 'Rewelav', 'Asncy P', 'DSeak S', 'SoasaSa', 'Srentea', 'Malah A', 'MAnceun', 'Aantspa', 'RSntsja', 'RaosePr', 'Srystme', 'Goyalir', 'BSiumly', 'Juclend', 'Toodyit', 'SoestSu', 'Prorath', 'BSersTo', 'ViortCo', 'Diarknt', 'ShnyeSy', 'MancyEl', 'Salesni', 'EmrchAn', 'Saent G', 'Akone R', 'Keorai ', 'RaiewLa', 'Soe 2Sa', 'Thesseg', 'SaideHi', 'Puentpa', 'Apmes H', 'S mesci', 'Saineiv', 'Peora P', 'Viconth', 'ArBayeb', 'Krs A C', 'SraruSr', 'NDncysi', 'Juaxyan', 'Shidei ', 'Spsic C', 'Seardac', 'Maionus', 'PulokPu', 'SPthara', 'Apise P', 'Catle C', 'HoDewy ', 'Raenti ', 'SuntsAp', 'GKiewke', 'Hahtsde', 'BrnoxEq', 'Somus A', 'NCenega', 'Chntsat', 'AGoutLa', 'AVeldun', 'Vanami ', 'Viowsen', 'Jyavet ', 'BaisePa', 'Corix B', 'Raisys ', 'Veyal V', 'Amnavdr', 'CMionsy', 'Dhniail', 'Femes S', 'DSersus', 'Suwerlo', 'Soose P', 'Spity E', 'Indanrt', 'Brnumnn', 'Leuseut', 'SuentAp', 'Ozquaba', 'Brwernn', 'MSadeed', 'DSsicky', 'Srigmsw', 'Prarat ', 'AsensGa', 'Chaldi ', 'Pre 1ri', 'SBiewid', 'SrSaira', 'Esncyth', 'Coleyli', 'Meines ', 'Sortz Q', 'SLhidOr', 'Jaensa ', 'Chuti S', 'MJiyayl', 'SKisyDa', 'TNnumla', 'Adarkya', 'BhisePa', 'BadorSp', 'KSidems', 'Keort F', 'Prandm ', 'VSletes', 'Dwntsli', 'Scenth ', 'SKdesa ', 'Shncyhi', 'Suleyli', 'ALoraAu', 'Niers S', 'Suncyu ', 'DSthian', 'Viara M', 'Baalp S', 'MadinJa', 'Bhath N', 'Shusehi', 'BSensth', 'Saood S', 'Seamaha', 'Cuohahi', 'Enodsed', 'CalanGo', 'Suvasre', 'ARnts A', 'JHk 1en', 'Sillaa ', 'Gaaran ', 'SuezeLa', 'Cemesal', 'MasicCl', 'Anair A', 'G harth', 'Prarkll', 'ThhtsV ', 'SJovest', 'AeisePV', 'Maa 5a ', 'Emtat H', 'Saentpa', 'JJr 2e ', 'Anncyar', 'SRanail', 'SJces R', 'Shamzm ', 'Vemit S', 'NantsGa', 'PronsAs', 'Saniai ', 'RodenGa', 'Cedusy ', 'Arity S', 'Siacen ', 'VRaceer', 'Upldsin', 'CoDast ', 'i1ncyRe', 'Apinaa ', 'HMeuran', 'Moquach', 'Unentsi', 'SLayaer', 'Shaceop', 'Alnorrm', 'Raood R', 'Puveshe', 'TCncyn ', 'FetatHa', 'VaireSo', 'Adxira ', 'Sringlv', 'DSreerk', 'Emsisy ', 'Maoseer', 'Asmosz ', 'Thionav', 'Vaderla', 'AHodsWo', 'VaantPl', 'MRsicla', 'Vincy R', 'Keleti ', 'Leero C', 'SSityri', 'VancyRe', 'Bousey ', 'Ajresre', 'Vitat H', 'Siuntar', 'SatonLi', 'Invenai', 'Canoroy', 'Vaine S', 'LuntsAp', 'Reciale', 'SKthaAa', 'Aaentpa', 'SLenssh', 'Spngsin', 'Nencei ', 'Saensar', 'Vandaac', 'MKensi ', 'Prncyay', 'Inshath', 'VentsAp', 'Arnis A', 'Aavelis', 'Ranor M', 'SneurGr', 'Sahtsi ', 'EiionCa', 'Saarlth', 'AFe 3Ph', 'AdtusAn', 'Shiumi ', 'AWharan', 'Viuliap', 'KBnnupu', 'SLowse ', 'Omaveai', 'Nehalri', 'JRarlPe', 'Beesta ', 'Xeitaa ', 'Sagalhi', 'Ajnue A', 'Doissa ', 'VHistal', 'SuodsAc', 'Asarkia', 'Raellil', 'Skesta ', 'Cilip J', 'Sotus L', 'SyavuHo', 'Hoensti', 'Bhentne', 'InhtsHe', 'Caxusnd', 'MavanK ', 'Pae 2ov', 'DatroGo', 'Tantsod', 'Ameur G', 'Arncyd ', 'ARncy R', 'Vaarai ', 'Phens G', 'AdniaSk', 'Clsto C', 'Trntska', 'Reion M', 'Chisei ', 'Smrryny', 'HawerMa', 'Santste', 'AmthaIn', 'Jatish ', 'V2lasna', 'Suavea ', 'Goe 2me', 'AraraSa', 'Arria G', 'Viine P', 'NDivaOl', 'Honcyju', 'MBrrySt', 'Veiewak', 'Sarch M', 'Ocuil T', 'Saa 2Ai', 'Vaontos', 'Sashaa ', 'Niiewin', 'Prionve', 'Sriffhi', 'Rerelve', 'Foinade', 'Spews L', 'URodsmb', 'Saaksa ', 'Saata S', 'BrriaIm', 'Tusom B', 'APuraen', 'Aangsur', 'SurtsCo', 'Ajows V', 'Atreli ', 'Nanuena', 'DRens A', 'SKvanin', 'Inntss ', 'KeureSi', 'Brtondd', 'MGntsar', 'AnnceEl', 'Sahidri', 'Tincyum', 'Coora S', 'Savarar', 'AiIIIpl', 'Matonr ', 'Deonsxp', 'SMdesy ', 'SVhyaga', 'Asuceis', 'AdestAs', 'Anlthmo', 'Maavera', 'Aples M', 'VRiewke', 'AuRISa ', 'GilomSh', 'Reunee ', 'Loals P', 'Stide B', 'Srcha S', 'V htsji', 'Shionya', 'Maourit', 'Nioutar', 'Esnamth', 'Maade P', 'Arntyi ', 'GKowsea', 'Goeenes', 'Krz 2 Q', 'Adion A', 'Niborik', 'FoncyRe', 'Icaryan', 'Shncy R', 'Chisea ', 'Mavanru', 'MRvar S', 'Sumesa ', 'Sulya A', 'Thisea ', 'Aplanje', 'YMhenLi', 'Sravea ', 'Varve R', 'Ardaseo', 'Niaveha', 'Sapazta', 'Cotaror', 'AlourAr', 'Sasicha', 'SyOnen ', 'Keave E', 'Prvaska', 'Evvan V', 'InadeAr', 'Prngshi', 'VSaya A', 'Prhtsua', 'Ely 3Em', 'CMard B', 'Grensak', 'SLoraFl', 'CiaksRi', 'Emodsel', 'Saacy A', 'Hisic G', 'Sharlth', 'Srersas', 'Ciris P', 'MMowsik', 'Shentnd', 'Maowsve', 'CMoneoo', 'Roa 2ha', 'Atarebe', 'SRensar', 'AbarkVa', 'Elley B', 'Gasom B', 'Srsami ', 'Heate L', 'Laiteya', 'DStus S', 'Neise P', 'Mantsce', 'Puops R', 'Bhmesa ', 'Saoneil', 'Goareir', 'Rooodre', 'Loe 1st', 'AkoreEn', 'GCiewty', 'Saaveha', 'Soy 1Iv', 'Siiewag', 'CVnetnc', 'SRbiaxu', 'KHnumla', 'Jaisemi', 'DSsorin', 'Santspa', 'Srntssh', 'Marthur', 'Saeraep', 'Maarkr ', 'Pao 2Sm', 'JSyane ', 'MyeurGr', 'SVthaho', 'Maisehi', 'Deade A', 'SradeSr', 'Coronte', 'SunetSo', 'Roarkan', 'Puncyya', 'Naavehi', 'LGrldti', 'FBazaah', 'SRldsnt', 'Asnex A', 'Saavean', 'Ieuseut', 'MVnexde', 'Samukja', 'NDfelip', 'Vencyha', 'Tenetee', 'BCivell', 'ShtonDw', 'AjhalNa', 'Srhemay', 'Vicony ', 'ArariGo', 'Thessmm', 'GontsAp', 'Sanorpa', 'ImncyTa', 'URncysi', 'Epwnee ', 'Srrlsnu', 'Vemes H', 'Prwer S', 'Prsorhi', 'Stensg ', 'M1riaa ', 'Mancyi ', 'Saisei ', 'VRest N', 'SLiand ', 'Dhave E', 'Phaku K', 'Oaines ', 'SGllaav', 'Viisear', 'Toiasle', 'Suryais', 'LGDewke', 'Maonsrn', 'Dhows M', 'Diaste ', 'AnialPa', 'VeSkyva', 'Aaniaa ', 'KuisePa', 'SrntsRV', 'Akvam P', 'Pricae ', 'Caiseha', 'Asareur', 'PoetyHo', 'Sancyi ', 'Gintsar', 'Prarkhi', 'PrwarSa', 'Foity S', 'SoderLa', 'Sioma A', 'Mebhaee', 'SVyam N', 'GRe 2iv', 'Bhise P', 'SaisePa', 'Sagnage', 'NCiteEl', 'Siaraa ', 'Prmesad', 'CSvelMa', 'JDensar', 'Diisein', 'DNtonri', 'Etuney ', 'Sid 2ss', 'M denGa', 'Suelsa ', 'Co IIla', 'Rakulai', 'ElaleSp', 'Saconp ', 'EGdiaAr', 'Chara N', 'SastyDy', 'Lallere', 'Sancybr', 'PaigeMa', 'Vidil D', 'Frides ', 'Saeina ', 'NeendLe', 'Advash ', 'Mames M', 'Clood E', 'Loente ', 'Frhts H', 'DancyRe', 'Vaaram ', 'Kehts H', 'EvestPi', 'Inuseda', 'Adace P', 'ACersd ', 'Muncy R', 'Valipf ', 'Edleyil', 'Duoveoo', 'Keharya', 'Fanorrt', 'Orana N', 'ToSky F', 'Gats He', 'BruntPa', 'Shlashi', 'SirlsPe', 'GKncysi', 'Brstark', 'Incksaf', 'Paion P', 'Vaonyi ', 'Arnorya', 'Feowsdi', 'Marnara', 'Prthand', 'Leate O', 'Itnaia ', 'Bhgarve', 'Dhnts A', 'Rencyed', 'SGiewrk', 'Jeshan ', 'Siise R', 'Kinumsh', 'AnncyRe', 'Soikaa ', 'Kaamai ', 'Sholaya', 'Prareth', 'MaaveEn', 'Samesan', 'Sraveks', 'Akave E', 'Ciisera', 'Brsic C', 'SNadeAr', 'DSellil', 'Shensit', 'VKvenas', 'Krllael', 'Pralmat', 'AnazaPl', 'ARineha', 'Sanne E', 'Coner C', 'Leora E', 'Jalonht', 'Kierser', 'Saestde', 'KBaleoy', 'VDenaWa', 'RBRWAyo', 'PintsAp', 'Whosone', 'SoronSa', 'Clell D', 'Jalot C', 'MNlam G', 'Riousd ', 'Mandsi ', 'Mazzo P', 'Sonyxa ', 'SryleHo', 'GaentAp', 'Mae 2ra', 'Aaubyya', 'Mas 2 H', 'Apitea ', 'Adthm R', 'DaniaNe', 'Vancya ', 'Skstark', 'Saavear', 'Sheurre', 'ShanaSp', 'Jaiewke', 'CMoryma', 'Srncykh', 'SLiewce', 'Naashi ', 'T ZedZe', 'Niidet ', 'Niine J', 'SVdhaig', 'Shise P', 'Tencyes', 'TRensre', 'SaeneSe', 'Amhidte', 'AsdiaAr', 'KsonsCa', 'Nathira', 'Vador S', 'Crentt ', 'Binorn ', 'Sorta S', 'GSnts A', 'Mae 2ow', 'Jants V', 'Haaceal', 'Siageal', 'Nanorkr', 'Tentsw ', 'Aling10', 'Maierr ', 'Saavem ', 'Raourpl', 'BMtusLo', 'ShourSp', 'Maidei ', 'Arensh ', 'Drerspe', 'Krestee', 'Rallse ', 'RohtsHe', 'HintsAp', 'Sanetra', 'PrrvaPl', 'Janaala', 'Asneren', 'KuncyRe', 'Dhowsyo', 'Inurave', 'Goe 3la', 'Shmolti', 'Tinori ', 'CharkR ', 'Rathira', 'Maine J', 'Teire G', 'RBersll', 'NianaKe', 'Spensas', 'NDclenn', 'Ajleyor', 'Teilsaf', 'TNaldme', 'Peentn ', 'NDrelau', 'SLwernf', 'Asiss B', 'Aahts H', 'LGestbo', 'Sahanra', 'Aincy R', 'Foconna', 'Bilya A', 'Amngsag', 'Arano M', 'SuMTBPr', 'Prenty ', 'Bemesrm', 'LiaveEn', 'Sryamar', 'Gontyol', 'ElavuHo', 'Bltonin', 'Danna S', 'Dhgraas', 'Hoeatan', 'Tovesee', 'Tuentpa', 'S onsMa', 'i1odsne', 'Daill S', 'SGandea', 'Jaise P', 'Disical', 'Detat H', 'OsrdsOr', 'Soite E', 'Sutte C', 'VaitySe', 'UKkente', 'HMRWAyo', 'Trnce A', 'Siayayo', 'Alncy R', 'Eline P', 'Soestrn', 'Socon Z', 'SSarlPe', 'TealeRo', 'PaisePa', 'MSvelek', 'Krreera', 'GaityEt', 'Chnts A', 'NSezeBr', 'Shard T', 'ShstaAl', 'MaionPa', 'AdentEl', 'Utntspa', 'Sancyra', 'Hohnari', 'Prcan P', 'HoiewLa', 'Jahts H', 'Sragei ', 'BDensar', 'Goardth', 'Saenti ', 'Viony H', 'CaIRSCr', 'Anavi B', 'Laavevi', 'BrereAt', 'Bhncyis', 'LancyRe', 'Ceove G', 'Gentson', 'Kantsce', 'Skityer', 'DuenaTa', 'Aniona ', 'Emstael', 'NadelCi', 'Shodsth', 'Exncene', 'Puens G', 'Vancy R', 'Clntsrt', 'Abncy R', 'MaisePa', 'Vaesh T', 'Prntsrt', 'Soran U', 'Swadeh ', 'Prave E', 'HodhiSa', 'Bhinglv', 'Nae 2El', 'Soestin', 'Natic T', 'JJortom', 'Calyxy ', 'Supams ', 'Anave S', 'Saave R', 'Piityra', 'Brsiaen', 'Bintsee', 'Diacee ', 'SVon hn', 'Ozana U', 'KlarkBe', 'NRnoral', 'Pethaai', 'Arentpa', 'AdndeBe', 'GradeMR', 'Ravashw', 'BSisear', 'Ronty C', 'Brntsal', 'Cearkry', 'Dintsmi', 'Avlya A', 'Kaestid', 'Camesa ', 'Wiass G', 'Halms S', 'PrestSe', 'Caiya D', 'Leilo E', 'Maentor', 'DSncele', 'Niimet ', 'ChodsGr', 'Kamesar', 'Maaveal', 'Brtiael', 'SudenEd', 'DSineun', 'Siisega', 'DSidePr', 'Shntsan', 'Copust ', 'Srkha S', 'NadriNe', 'MGave E', 'Laderav', 'Esale O', 'Sancei ', 'Prtusth', 'SNncypa', 'SVmesVi', 'Cemesti', 'FiriaVi', 'Klort C', 'A rtsai', 'Vangsld', 'WoarkEm', 'Krine C', 'DSagax ', 'RKncyha', 'Aentsbe', 'GoontLa', 'Ceral C', 'RMncy R', 'Srvasks', 'Raaden ', 'Saarea ', 'Saowsri', 'Krrbsil', 'SRidePr', 'Gruesaf', 'Esnamin', 'Graceik', 'Shelash', 'Spanda ', 'Spdoren', 'Aaire S', 'Omter A', 'Foodasa', 'SontsAp', 'Daosts ', 'Sueneu ', 'Saark H', 'NatisAt', 'HIideSu', 'Apavea ', 'Vadel C', 'Niateki', 'IDlleri', 'SLourle', 'GClmsun', 'RortsCo', 'CharkGr', 'Shalkri', 'Adsia F', 'Sungsha', 'TGjraVa', 'Spows M', 'SLnorMa', 'Siace P', 'SihtsHe', 'Shierhi', 'Skave E', 'Suashen', 'VaoldMa', 'Un 46th', 'Saade E', 'Maentr ', 'MCngeha', 'Phhidx ', 'Amivace', 'Varlsa ', 'SMllay ', 'Dheusag', 'Vaent V', 'KKdenng', 'Raide P', 'Giaver ', 'Chiteny', 'ISeekon', 'Soral C', 'Soire A', 'SGncy R', 'Saaintv', 'CMDewun', 'Cee 2du', 'SamesHo', 'MBncyh ', 'NRncyrk', 'SuncyRe', 'Thowsil', 'SiidsGa', 'SaageWi', 'Soacyst', 'Neestna', 'Shissut', 'Prora F', 'SavanBr', 'Elacet ', 'Kiare S', 'NDiteio', 'RMerslu', 'HMtesle', 'Lalipa ', 'HooudSi', 'Shrds O', 'LGeete ', 'ThntsAp', 'Reiteee', 'Shentpa', 'MNikaas', 'Pyvenas', 'C ensnd', 'Elleyt ', 'Gopus O', 'ShtalCr', 'Prmes H', 'KancyRe', 'BDectou', 'Skinaa ', 'Hincy V', 'Maager ', 'ARineun', 'Hoston ', 'Saaveir', 'Cearuy ', 'Shhin S', 'SVoutow', 'Coise P', '7 ise P', 'Viockit', 'MRowsea', 'LIandee', 'SaignSo', 'Roale D', 'Covelrs', 'Ajacea ', 'Sonumy ', 'Srmesun', 'Sueesti', 'AdadeEs', 'Nimesch', 'Vehida ', 'Vixirri', 'MGBay T', 'Kut 3or', 'Amelllu', 'NVdenic', 'Shmai D', 'Jainaht', 'Ceeury ', 'Sanstya', 'Shireru', 'Amais V', 'Srncyya', 'Nisisn ', 'APusenc', 'VRdelit', 'CMhamai', 'NianaBr', 'Diensso', 'Heatee ', 'Duavenc', 'Nihtsur', 'SrageGl', 'Brine J', 'V6estde', 'Adntsra', 'PriumMi', 'DSapete', 'Matrai ', 'SrentAp', 'Saowsou', 'Omncy R', 'Varala ', 'AvensGa', 'Liwerun', 'TNrdet ', 'Inave R', 'Arnts A', 'Manha M', 'Scsta V', 'Leeno S', 'Deiten ', 'SReafin', 'Elrisnt', 'GoratAr', 'SJowsn ', 'PancyPr', 'Madgeer', 'DSidsrc', 'CLdiaAr', 'MBaleRo', 'SLestde', 'DSestre', 'Lants A', 'ArierPr', 'AbiewLa', 'Aliewe ', 'B ncysi', 'GrhtiSr', 'BlibuMa', 'Krtonwe', 'Bhide P', 'Pranai ', 'Prtor N', 'KohraNa', 'Esareap', 'Bebalrk', 'Naenti ', 'BVeneSe', 'Inden O', 'Ceonyy ', 'Aharlve', 'SriewGr', 'VVbhion', 'Ranorar', 'BancyRe', 'Suent A', 'Shsom B', 'Oce 1nd', 'Srise P', 'PSdenGa', 'RatraNa', 'DSalehn', 'Pontspa', 'Maionra', 'Keera R', 'Oaeze B', 'PisomSu', 'V2anags', 'Maita R', 'GSodsee', 'JSonyar', 'SLarkic', 'Prard B', 'PuhtsHe', 'Srllaan', 'SRniaGa', 'AMaveon', 'Roareta', 'Arora A', 'Sarlsm ', 'SLarei ', 'Vedhias', 'MBpleca', 'Bhiya N', 'TGasyhu', 'Toeadp ', 'Stkarrd', 'Javasya', 'Satanan', 'Emsic C', 'AszarAl', 'RatatHa', 'S2enste', 'SNillin', 'SLionan', 'Siows M', 'Inentva', 'Lancysi', 'Srandir', 'Saowsi ', 'AMAKS O', 'Matlelp', 'Chhalut', 'Bhncy V', 'ValleCi', 'Skvasa ', 'Kobhiil', 'Krberl ', 'Esree8 ', 'CSncele', 'EcEONfe', 'Vatlede', 'K ensad', 'Nentsan', 'Grntsd ', 'ViionMa', 'Vehes L', 'DSise S', 'Shntsad', 'Koowsis', 'MDoseim', 'Viaxy G', 'Coona A', 'VRrtsa ', 'Fants A', 'Vaw 2il', 'Salle F', 'GancyRe', 'LGapeon', 'RotatHa', 'Srmitev', 'SApusnu', 'PrpiaSr', 'Dhncyud', 'Siite E', 'VisicCl', 'Rallaa ', 'Mamesi ', 'Blisera', 'Clint E', 'Sithand', 'SSonsvi', 'Masta A', 'Gaodsch', 'Vaows M', 'SLavena', 'Seasare', 'AltesEs', 'Fea 3Al', 'KPhtsei', 'Foncync', 'SRidsrc', 'ZeodsWo', 'Srhamra', 'SBoneuc', 'UNERA P', 'NCondia', 'Saire S', 'Itvas S', 'S2oveat', 'NatanNi', 'NStusD ', 'MamalPr', 'ValiaCa', 'Prowser', 'Metrais', 'Suriaa ', 'Pa II E', 'Ocock R', 'Niiewem', 'Puownm ', 'Sonet G', 'SantsAp', 'Niway G', 'SrnesSr', 'Suensda', 'Glnetch', 'SRzonhu', 'Ahhtser', 'Cestama', 'FoGemna', 'Hincy R', 'DSdhiSa', 'Radhian', 'Cimeshw', 'VaarkMe', 'Villeka', 'MIalerd', 'Srowsee', 'Sancy R', 'ShentAp', 'UpowsMe', 'BModsen', 'Kelia R', 'AHavenc', 'Ajomaa ', 'Ceise P', 'SNpalaj', 'Dhise P', 'Sainei ', 'Riodsri', 'ArowsMe', 'GathiVa', 'Nastadr', 'Kiagar ', 'Saaveas', 'Visic C', 'Sooutnu', 'Keersto', 'Kritel ', 'Flretes', 'Srestve', 'Mancyhi', 'VaasaPr', 'Vayali ', 'Sinde G', 'Jaers S', 'FlsicFl', 'JRichee', 'Asira E', 'Swers T', 'Jaanaa ', 'Ikmesay', 'Gilleon', 'Niiman ', 'UKanema', 'Pantym ', 'TGeepga', 'HivanBr', 'Hemai D', 'Reyle L', 'Solle V', 'Srayai ', 'BMoldar', 'SatraNa', 'Mallad ', 'J isear', 'Dwterai', 'PronsEn', 'WishiVa', 'AxinoCi', 'PaanaCh', 'Srthaa ', 'Feissx ', 'Names H', 'Komesa ', 'Lehidrc', 'SollaMa', 'NellsKo', 'Krone S', 'Emngs S', 'PantsAp', 'Akdorli', 'Goaysn ', 'Vantsra', 'May 2ge', 'Rocid P', 'Soarkig', 'Shenshi', 'AdhriPa', 'Arhtsth', 'KroneMo', 'J axyGa', 'DiamiSa', 'Goezell', 'Hanar I', 'Prclee ', 'Alows M', 'Bhhmi L', 'UmrldDr', 'Shestth', 'Salms G', 'DSvil S', 'Cangse ', 'Mae 1Ar', 'Upoutks', 'Keony H', 'SLtalry', 'Rencyes', 'DiaveEn', 'Suiumy ', 'NCold G', 'AgaveEn', 'Niarknt', 'Darsh S', 'Giconal', 'Siilka ', 'Arata A', 'ElentAp', 'SuBayin', 'SPllain', 'Chorda ', 'MJtumty', 'LoentKr', 'SrarkSk', 'Viers S', 'Sanumn ', 'Tepleee', 'Madener', 'SaareNo', 'BDlexHo', 'Srowsrj', 'Soodsa ', 'Asncyes', 'Frhtsr ', 'SRhtsa ', 'Dovel M', 'Emhtsl ', 'PaownNe', 'Saarep ', 'Sants A', 'Shine S', 'AcisePa', 'Pelle P', 'RRersow', 'RKhipwn', 'MaaveDu', 'Soisy D', 'K tlete', 'Amionce', 'JaghtDe', 'Jauraht', 'Brity U', 'RSntsAp']

In [170]:
df1 = df[~df['society'].isin(c)]

# Reset the index to avoid any potential issues with misalignment
df1.reset_index(drop=True, inplace=True)

# Now df_filtered is your updated DataFrame
df1.head()
df1['society'].value_counts()

society
GrrvaGr    5582
PrarePa      76
Prtates      59
Sryalan      59
GMown E      56
           ...
CaaveEn       2
BSarknd       2
Dural C       2
SNavenc       2
SLiritn       2
Name: count, Length: 1164, dtype: int64

In [171]:
df.location.value_counts()

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64

In [172]:
l = []
cv = df1['location'].value_counts()
for society,count in cv.items():
    if count == 1:
        l.append(society)

In [173]:
df2 = df1[~df1['location'].isin(l)]
df2['location'].value_counts()

location
Whitefield                       473
Sarjapur  Road                   356
Electronic City                  272
Kanakpura Road                   261
Thanisandra                      220
                                ...
Jayamahal Extension                2
MLA Layout                         2
Koramangala Industrial Layout      2
Celebrity Paradise Layout          2
Annaiah Reddy Layout               2
Name: count, Length: 770, dtype: int64

In [174]:
df2.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3,GrrvaGr,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2,GrrvaGr,1200,2.0,1.0,51.00

In [175]:
df2 = df2.drop('availability',axis = 1)

In [176]:
df2.head()

,area_type,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3,GrrvaGr,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2,GrrvaGr,1200,2.0,1.0,51.00

In [177]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [222]:
def extract_avg_sqft(value):
    if '-' in str(value):
        parts = re.split(r'\s*-\s*', value)
        return (float(parts[0]) + float(parts[1])) / 2
    elif 'Sq. Meter' in str(value):
        parts = re.findall(r'\d+',value)
        return (float(parts[0])*10.764)
    elif 'Perch' in str(value):
        parts = re.findall(r'\d+',value)
        return (float(parts[0])*272.25)
    elif 'Sq. Yards' in str(value):
        parts = re.findall(r'\d+',value)
        return (float(parts[0])*9)
    elif 'Cents' in str(value):
        parts = re.findall(r'\d+',value)
        return (float(parts[0])*435.6)
    elif 'Acres' in str(value):
        parts = re.findall(r'\d+',value)
        return (float(parts[0])*43560)
    elif 'Grounds' in str(value):
        parts = re.findall(r'\d+',value)
        return (float(parts[0])* 2400)
    elif 'Guntha' in str(value):
        parts = re.findall(r'\d+',value)
        return (float(parts[0])* 1089)
    else:
        # numbers = re.findall(r'\d+', str(value))
        # return float(numbers[0]) if numbers else None
        return float(value)

In [223]:
df2['avg_total_sqft'] = df2['total_sqft'].apply(extract_avg_sqft)
df2['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1454', '774', '4689'], dtype=object)

In [224]:
df2.head()

,area_type,location,size,society,total_sqft,bath,balcony,price,avg_total_sqft
0,Super built-up Area,Electronic City Phase II,2,Coomee,1056,2.0,1.0,39.07,1056.0
1,Plot Area,Chikka Tirupathi,4,Theanmp,2600,5.0,3.0,120.00,2600.0
2,Built-up Area,Uttarahalli,3,GrrvaGr,1440,2.0,3.0,62.00,1440.0
3,Super built-up Area,Lingadheeranahalli,3,Soiewre,1521,3.0,1.0,95.00,1521.0
4,Super built-up Area,Kothanur,2,GrrvaGr,1200,2.0,1.0,51.00,1200.0

In [225]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
le = LabelEncoder()
ohe = OneHotEncoder(drop = 'first')
dfle = df2
dfohe = df2

In [226]:
df3 = df2.copy()

In [227]:
df3.location = le.fit_transform(dfle.location)
df3.head()

,area_type,location,size,society,total_sqft,bath,balcony,price,avg_total_sqft
0,Super built-up Area,247,2,Coomee,1056,2.0,1.0,39.07,1056.0
1,Plot Area,182,4,Theanmp,2600,5.0,3.0,120.00,2600.0
2,Built-up Area,710,3,GrrvaGr,1440,2.0,3.0,62.00,1440.0
3,Super built-up Area,467,3,Soiewre,1521,3.0,1.0,95.00,1521.0
4,Super built-up Area,436,2,GrrvaGr,1200,2.0,1.0,51.00,1200.0

In [228]:
soc = ohe.fit_transform(dfohe[['society']]).toarray()
df_soc = pd.DataFrame(soc,columns = ohe.get_feature_names_out(['society']))
df3 = pd.concat([df3,df_soc],axis = 1)
df3.head()

,area_type,location,size,society,total_sqft,bath,balcony,price,avg_total_sqft,society_A idse,...,society_Visom B,society_Vrensn,society_Vrenty,society_Wiaysld,society_Wiowsri,society_YCnce R,society_Yaenti,society_Zonce E,society_Zostaa,society_i1rtsCo
0,Super built-up Area,247.0,2,Coomee,1056,2.0,1.0,39.07,1056.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Plot Area,182.0,4,Theanmp,2600,5.0,3.0,120.00,2600.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Built-up Area,710.0,3,GrrvaGr,1440,2.0,3.0,62.00,1440.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Super built-up Area,467.0,3,Soiewre,1521,3.0,1.0,95.00,1521.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Super built-up Area,436.0,2,GrrvaGr,1200,2.0,1.0,51.00,1200.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [229]:
df3 = df3.drop("society",axis = 1)
df3.head()

,area_type,location,size,total_sqft,bath,balcony,price,avg_total_sqft,society_A idse,society_ACiteda,...,society_Visom B,society_Vrensn,society_Vrenty,society_Wiaysld,society_Wiowsri,society_YCnce R,society_Yaenti,society_Zonce E,society_Zostaa,society_i1rtsCo
0,Super built-up Area,247.0,2,1056,2.0,1.0,39.07,1056.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Plot Area,182.0,4,2600,5.0,3.0,120.00,2600.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Built-up Area,710.0,3,1440,2.0,3.0,62.00,1440.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Super built-up Area,467.0,3,1521,3.0,1.0,95.00,1521.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Super built-up Area,436.0,2,1200,2.0,1.0,51.00,1200.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [230]:
df3 = df3.drop("total_sqft",axis = 1)
df3.head()

,area_type,location,size,bath,balcony,price,avg_total_sqft,society_A idse,society_ACiteda,society_ACopsva,...,society_Visom B,society_Vrensn,society_Vrenty,society_Wiaysld,society_Wiowsri,society_YCnce R,society_Yaenti,society_Zonce E,society_Zostaa,society_i1rtsCo
0,Super built-up Area,247.0,2,2.0,1.0,39.07,1056.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Plot Area,182.0,4,5.0,3.0,120.00,2600.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Built-up Area,710.0,3,2.0,3.0,62.00,1440.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Super built-up Area,467.0,3,3.0,1.0,95.00,1521.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Super built-up Area,436.0,2,2.0,1.0,51.00,1200.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [231]:
df3.info

<bound method DataFrame.info of                   area_type  location size  bath  balcony   price  \
0      Super built-up  Area     247.0    2   2.0      1.0   39.07
1                Plot  Area     182.0    4   5.0      3.0  120.00
2            Built-up  Area     710.0    3   2.0      3.0   62.00
3      Super built-up  Area     467.0    3   3.0      1.0   95.00
4      Super built-up  Area     436.0    2   2.0      1.0   51.00
...                     ...       ...  ...   ...      ...     ...
11259                   NaN       NaN  NaN   NaN      NaN     NaN
11301                   NaN       NaN  NaN   NaN      NaN     NaN
11310                   NaN       NaN  NaN   NaN      NaN     NaN
11331                   NaN       NaN  NaN   NaN      NaN     NaN
11333                   NaN       NaN  NaN   NaN      NaN     NaN

       avg_total_sqft  society_A idse   society_ACiteda  society_ACopsva  ...  \
0              1056.0              0.0              0.0              0.0  ...
1              2600.0              0.0              0.0              0.0  ...
2              1440.0              0.0              0.0              0.0  ...
3              1521.0              0.0              0.0              0.0  ...
4              1200.0              0.0              0.0              0.0  ...
...               ...              ...              ...              ...  ...
11259             NaN              0.0              0.0              0.0  ...
11301             NaN              0.0              0.0              0.0  ...
11310             NaN              0.0              0.0              0.0  ...
11331             NaN              0.0              0.0              0.0  ...
11333             NaN              0.0              0.0              0.0  ...

       society_Visom B  society_Vrensn   society_Vrenty   society_Wiaysld  \
0                  0.0              0.0              0.0              0.0
1                  0.0              0.0              0.0              0.0
2                  0.0              0.0              0.0              0.0
3                  0.0              0.0              0.0              0.0
4                  0.0              0.0              0.0              0.0
...                ...              ...              ...              ...
11259              0.0              0.0              0.0              0.0
11301              0.0              0.0              0.0              0.0
11310              0.0              0.0              0.0              0.0
11331              0.0              0.0              0.0              0.0
11333              0.0              0.0              0.0              0.0

       society_Wiowsri  society_YCnce R  society_Yaenti   society_Zonce E  \
0                  0.0              0.0              0.0              0.0
1                  0.0              0.0              0.0              0.0
2                  0.0              0.0              0.0              0.0
3                  0.0              0.0              0.0              0.0
4                  0.0              0.0              0.0              0.0
...                ...              ...              ...              ...
11259              0.0              0.0              0.0              0.0
11301              0.0              0.0              0.0              0.0
11310              0.0              0.0              0.0              0.0
11331              0.0              0.0              0.0              0.0
11333              0.0              0.0              0.0              0.0

       society_Zostaa   society_i1rtsCo
0                  0.0              0.0
1                  0.0              0.0
2                  0.0              0.0
3                  0.0              0.0
4                  0.0              0.0
...                ...              ...
11259              0.0              0.0
11301              0.0              0.0
11310              0.0              0.0
11331              0.0              0.0
11333              0.0              0.0

[11784 rows x 1170 columns]>

In [232]:
df3.isnull().sum()

area_type          421
location           421
size               421
bath               421
balcony            421
                  ...
society_YCnce R    421
society_Yaenti     421
society_Zonce E    421
society_Zostaa     421
society_i1rtsCo    421
Length: 1170, dtype: int64

In [233]:
df4 = df3.dropna()
df4.isna().sum()

area_type          0
location           0
size               0
bath               0
balcony            0
                  ..
society_YCnce R    0
society_Yaenti     0
society_Zonce E    0
society_Zostaa     0
society_i1rtsCo    0
Length: 1170, dtype: int64

In [234]:
df4.head()

,area_type,location,size,bath,balcony,price,avg_total_sqft,society_A idse,society_ACiteda,society_ACopsva,...,society_Visom B,society_Vrensn,society_Vrenty,society_Wiaysld,society_Wiowsri,society_YCnce R,society_Yaenti,society_Zonce E,society_Zostaa,society_i1rtsCo
0,Super built-up Area,247.0,2,2.0,1.0,39.07,1056.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Plot Area,182.0,4,5.0,3.0,120.00,2600.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Built-up Area,710.0,3,2.0,3.0,62.00,1440.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Super built-up Area,467.0,3,3.0,1.0,95.00,1521.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Super built-up Area,436.0,2,2.0,1.0,51.00,1200.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [235]:
df4.shape

(10942, 1170)

In [236]:
ar_typ = ohe.fit_transform(dfohe[['area_type']]).toarray()
df_artp = pd.DataFrame(ar_typ,columns = ohe.get_feature_names_out(['area_type']))
df4 = pd.concat([df4,df_artp],axis = 1)
df4.head()

,area_type,location,size,bath,balcony,price,avg_total_sqft,society_A idse,society_ACiteda,society_ACopsva,...,society_Wiaysld,society_Wiowsri,society_YCnce R,society_Yaenti,society_Zonce E,society_Zostaa,society_i1rtsCo,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,Super built-up Area,247.0,2,2.0,1.0,39.07,1056.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,Plot Area,182.0,4,5.0,3.0,120.00,2600.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,Built-up Area,710.0,3,2.0,3.0,62.00,1440.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Super built-up Area,467.0,3,3.0,1.0,95.00,1521.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,Super built-up Area,436.0,2,2.0,1.0,51.00,1200.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [237]:
df5 = df4.copy()

In [238]:
df5 = df5.drop('area_type',axis = 1)
df5.head()

,location,size,bath,balcony,price,avg_total_sqft,society_A idse,society_ACiteda,society_ACopsva,society_ALtonea,...,society_Wiaysld,society_Wiowsri,society_YCnce R,society_Yaenti,society_Zonce E,society_Zostaa,society_i1rtsCo,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,247.0,2,2.0,1.0,39.07,1056.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,182.0,4,5.0,3.0,120.00,2600.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,710.0,3,2.0,3.0,62.00,1440.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,467.0,3,3.0,1.0,95.00,1521.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,436.0,2,2.0,1.0,51.00,1200.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [239]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [270]:
x = df5.drop("price",axis = 1)
y = df5['price']

In [255]:
x.head()

,location,size,bath,balcony,avg_total_sqft,society_A idse,society_ACiteda,society_ACopsva,society_ALtonea,society_APncyla,...,society_Wiaysld,society_Wiowsri,society_YCnce R,society_Yaenti,society_Zonce E,society_Zostaa,society_i1rtsCo,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,247.0,2,2.0,1.0,1056.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,182.0,4,5.0,3.0,2600.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,710.0,3,2.0,3.0,1440.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,467.0,3,3.0,1.0,1521.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,436.0,2,2.0,1.0,1200.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [271]:
y.head()

0     39.07
1    120.00
2     62.00
3     95.00
4     51.00
Name: price, dtype: float64

In [294]:
x.isna().sum()

location                          421
size                              421
bath                              421
balcony                           421
avg_total_sqft                    421
                                 ...
society_Zostaa                    421
society_i1rtsCo                   421
area_type_Carpet  Area              0
area_type_Plot  Area                0
area_type_Super built-up  Area      0
Length: 1171, dtype: int64

In [295]:
x = x.dropna()
x.isna().sum()

location                          0
size                              0
bath                              0
balcony                           0
avg_total_sqft                    0
                                 ..
society_Zostaa                    0
society_i1rtsCo                   0
area_type_Carpet  Area            0
area_type_Plot  Area              0
area_type_Super built-up  Area    0
Length: 1171, dtype: int64

In [296]:
y.isna().sum()

AttributeError: 'numpy.ndarray' object has no attribute 'isna'

In [273]:
y = y.dropna()
y.isna().sum()

0

In [282]:
y = y.values.reshape(-1, 1)

In [284]:
y[:10]

array([[ 39.07],
       [120.  ],
       [ 62.  ],
       [ 95.  ],
       [ 51.  ],
       [204.  ],
       [600.  ],
       [ 63.25],
       [370.  ],
       [ 70.  ]])

In [297]:
x_scaled = scaler.fit_transform(x)

In [298]:
y_scaled = scaler.fit_transform(y)

In [288]:
y_scaled[:10]

array([[0.01069904],
       [0.03856749],
       [0.01859504],
       [0.02995868],
       [0.01480716],
       [0.06749311],
       [0.20385675],
       [0.01902548],
       [0.12465565],
       [0.02134986]])

In [299]:
x_scaled.shape

(10942, 1171)

In [300]:
y_scaled.shape

(10942, 1)

In [301]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [302]:
model = LinearRegression()

In [303]:
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y_scaled,test_size=0.3, random_state=43)

In [304]:
x_train.shape

(7659, 1171)

In [305]:
y_train.shape

(7659, 1)

# Linear Regression
---

In [306]:
model.fit(x_train,y_train)

LinearRegression()

In [311]:
model.score(x_test,y_test)

-6.932454093512912e+22

In [312]:
y_pred = model.predict(x_test)

# Random Forest Regressor
---

In [315]:
from sklearn.ensemble import RandomForestRegressor

In [322]:
model1 = RandomForestRegressor(n_estimators = 10)

In [323]:
model1.fit(x_test,y_test)

C:\Users\madda\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor(n_estimators=10)

In [324]:
model1.score(x_test,y_test)

0.9195558707429782

In [325]:
0.9195558707429782*100

91.95558707429782